.modalBackground {
    z-index: 1;
    transition: opacity 0.4s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modalInner {
    width: 90%;
    height: 90%;
    max-width: calc(100%-60px);
    max-height: calc(100%-60px);
    margin: 80px auto;

    img {
        width: 100%;
    }

    h2 {
        position: relative;
        top: 10px;
        text-align: center;
        color: $color-white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    }
}

.exitButton {
    position: relative;
    top: 50px;
    left: 94%;
    font-size: 30px;
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: none;
        transform: scale(1.2);
      }
}
