.cards-animal {
    display: grid;    
    row-gap: 30px;
    column-gap: 30px;

    .card {
        position: relative;
        width: 100%;
        box-shadow: 0 0 15px $box-shadow;

        &:hover {
            filter: brightness(100%);
            @extend .zoom-background-hover;
            cursor: pointer;
        }

        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }

        .body {
            padding: 20px;

            h2 {
                display: inline;
                font-size: 1.6em;
                font-weight: bold;
                margin-right: 10px;
            }

            .other {
                color: $color-gray-medium;
            }

            p {
                padding-top: 5px;
                font-size: 0.9em;
                opacity: 0.7;
                margin: 0;
                text-transform: uppercase;
            }
        }
    }
}

// Small devices (portrait phones, 576px and down)
@media (max-width: 576px) {
    .cards-animal {
        grid-template-columns: 1fr;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .cards-animal {
        grid-template-columns: 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .cards-animal {
        grid-template-columns: 1fr 1fr;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .cards-animal {
        grid-template-columns: 1fr 1fr;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .cards-animal {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
