.cards-certificate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;

    img {
        width: 100%;
    } 

    .card {
        position: relative;
        width: 100%;
        box-shadow: 0 0 15px $box-shadow;

        &:hover {
            filter: brightness(100%);
            @extend .zoom-background-hover;
            cursor: pointer;
        }

        img {
            display: block;
            width: 100%;
            object-fit: cover;
            filter: brightness(50%);
            border-radius: 10px;
        }

        .caption {
            position: absolute;
            color: #fff;
            font-size: 1.2em;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .cards-certificate {
        grid-template-columns: 1fr 1fr;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .cards-certificate {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .cards-certificate {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .cards-certificate {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .cards-certificate {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
