.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(https://res.cloudinary.com/blackneasy/image/upload/v1595425914/index_vdclwd.jpg);
    
    p {
        position: absolute;
        left: 2%;
        top: 20vmax;
        font-size: 20px;
        font-weight: 600;
        color: white;
        opacity: 0.7;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
}
