.card-puppies {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
}

.puppies-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    box-shadow: 0 0 15px $box-shadow;
    cursor: pointer;

    &:hover {
        filter: brightness(100%);
        @extend .zoom-background-hover;
        cursor: pointer;
        object-fit: cover;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    .infos {
        padding: 10px 5px;
        color: $color-gray-dark;
        text-align: center;

        h2 {
            font-size: 1.2em;
            font-weight: 600;
            letter-spacing: 3px;
        }

        p {
            font-size: 0.7em;
            letter-spacing: 1px;
            opacity: 0.7;
            text-transform: uppercase;
        }
    }

}

.puppies-images {
    display: grid;
    column-gap: 20px;
    row-gap: 20px; 
    width: 100%;   

    img {
        border-radius: 5px;
        box-shadow: 0 0 30px $box-shadow;
        width: 100%;

        &:hover {
            filter: brightness(100%);
            @extend .zoom-background-hover;
            cursor: pointer;
            object-fit: cover;
        }
    }
}

// Smallest device
@media (min-width: 100px) {
    .card-puppies {
        grid-template-columns: 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .card-puppies {
        grid-template-columns: 1fr 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr 1fr;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card-puppies {
        grid-template-columns: 1fr 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .card-puppies {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
