.card-puppies {
    display: grid;
    column-gap: 40px;
    row-gap: 30px;
}

.puppies-select {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    box-shadow: 0 0 15px $box-shadow;
    cursor: pointer;
    height: 130px;

    &:hover {
        filter: brightness(100%);
        @extend .zoom-background-hover;
        cursor: pointer;
        object-fit: cover;
    }

    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 5px;
        color: $color-gray-dark;

        .item-left {            
            text-align: left;
            margin-bottom: 20px;
        }

        .item-right {    
            text-align: right;
        }

        h2 {
            font-size: 1.2em;
            font-weight: 600;
            letter-spacing: 3px;
        }
        p {
            font-size: 0.7em;
            letter-spacing: 1px;
            opacity: 0.7;
            text-transform: uppercase;
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.puppies-images {
    display: grid;
    column-gap: 50px;
    row-gap: 40px;    

    img {
        border-radius: 5px;
        box-shadow: 0 0 30px $box-shadow;
        width: 100%;

        &:hover {
            filter: brightness(100%);
            @extend .zoom-background-hover;
            cursor: pointer;
            object-fit: cover;
        }
    }
}

// Small devices (portrait phones, 576px and down)
@media (max-width: 576px) {
    .card-puppies {
        grid-template-columns: 1fr;
    }

    .puppies-images {
        grid-template-columns: 1fr;
    }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .card-puppies {
        grid-template-columns: 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .card-puppies {
        grid-template-columns: 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .card-puppies {
        grid-template-columns: 1fr 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr 1fr;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card-puppies {
        grid-template-columns: 1fr 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .card-puppies {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .puppies-images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
