.breed {
    display: grid;
    grid-template-rows: 1fr;

    h2 {
        text-align: center;
        font-size: 2em;
        line-height: 2em;
        font-weight: bold;
    }

    .desc {
        justify-self: center;
        font-size: 1.4em;
        color: $color-gray-dark;
        line-height: 1.4em;
        border-left: 8px solid $color-nav-link-hover;
        
        h3 {
            margin-left: 10px;
        }
    }

    
}
