.brood-bg {
    border-top: 4px solid $color-gray-light;
    margin: 40px 0 0 0;

    h2 {
        margin: 50px 0 0 0;
    }

    .date {
        padding: 10px 0 20px 0;
        font-family: "Raleway", sans-serif;        
    }
}

.cards-test {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 40px;

    .card {
        position: relative;
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 0 30px $box-shadow;

        img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        .info {
            z-index: 2;
            background-color: #fff;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            padding: 16px 24px 24px 24px;

            .gender {
                font-family: "Raleway", sans-serif;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 2px;
                font-weight: 500;
                color: $color-gray-medium;
            }

            h3 {
                margin-top: 5px;
                margin-bottom: 10px;
                font-family: "Roboto Slab", serif;
            }

            .location {
                font-size: 14px;
                font-family: "Raleway", sans-serif;
            }
        }
    }
}
