$color-nav-background: #24252a;
$color-nav-link: #edf0f1;
$color-nav-link-hover: #0088a9;
$color-nav-button: rgba(0, 136, 169, 1);
$color-nav-button-hover: rgba(0, 136, 169, 0.5);

$color-white: #efefef;
$box-shadow: rgba(0, 0, 0, 0.2);

$color-gray-dark: #444444;
$color-link: #ff8800;
