footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: $color-nav-background;
    color: $color-white;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
    column-gap: 50px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    footer {
        grid-template-columns: 1fr;
        font-size: 1.5em;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    footer {
        grid-template-columns: 1fr;
        font-size: 1.8em;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    footer {
        grid-template-columns: 1fr; 
        font-size: 2em;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.4em;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.2em;
    }
}