@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

#main {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: 30px auto;
    width: 80%;
}

.zoom-background-hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }