.masonry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    
    .column {
        .child {
            box-shadow: 0 0 30px $box-shadow;
            background-color: transparent;
            margin-bottom: 20px;

            img {
                width: 100%;
                margin: 0;
                padding: 0;
                border-radius: 5px;

                &:hover {
                    filter: brightness(100%);
                    @extend .zoom-background-hover;
                    cursor: pointer;
                }
            }
        }
    }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .masonry {
        grid-template-columns: 1fr;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .masonry {
        grid-template-columns: 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .masonry {
        grid-template-columns: 1fr 1fr;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .masonry {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .masonry {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
