@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .masonry {
            column-gap: 1.5em;
            column-count: 1;
        }
        .masonry-sm {
            column-gap: 1.5em;
            column-count: 2;
        }
        .masonry-md {
            column-gap: 1.5em;
            column-count: 3;
        }
        .masonry-xl {
            column-gap: 1.5em;
            column-count: 4;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}

@layer components {
    .contact-heading {
        @apply text-4xl font-bold text-gray-700 pb-5;
    }
    .contact-paragraph {
        @apply text-lg font-normal text-gray-600 pb-2;
    }

    .tab-button {
        @apply inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 cursor-pointer;
    }

    .tab-button-active {
        @apply text-blue-600 bg-gray-100 cursor-pointer;
    }

    .category-button {
        @apply text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-3xl text-base font-medium px-5 py-2.5 text-center mr-3 mb-3;
    }

    .category-button-active {
        @apply bg-blue-700 text-white;
    }
}
